<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
    <link rel="stylesheet" href="static/cssfile1.css">
</head>
<body>

    <h1>Please fill up this form </h1><br><br>

<div class="sudip"  >
    <form method="GET">
     
     <!-- {{formdata}} -->
        <label for="value1">Value1</label><br>
        <input type="text" name="value1" value="{{n1}}" id="none"><br><br>

        <label for="Value2">Value2</label><br>
        <input type="text" name="value2" value="{{n2}}" id="none1"><br><br>

        <label>Output </label><br>
        <input type="text" value="{{output}}"><br><br>
    
        <button type="submit" class="send-data">Send</button>
        <br><br>
        

        
    </form>
</div>
    
</body>
</html>